body {
    background-repeat: no-repeat;
    background-position: 200px 60px;
    background-size: 900px;
    background-color: white;
    
  }

#head_re{
    grid-area: head_re;
    text-align: center;
    border: lightblue;
    border-width: 10px;
    border-style:solid;
    background-color: rgb(53, 114, 134);
}

#titulo{
    color:rgb(31, 62, 73);
    margin-left:20px;
    font-family:Franklin Gothic Medium;
    font-weight: 500;
}

#mainTitulo{
    color:white;
    font-family:Franklin Gothic Medium;
    font-weight: 500;
}



#mainNum{
    border: black;
    border-width: 3px;
    border-style:solid;
    background-color: rgb(53, 114, 134);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#nav_re{
    grid-area: nav_re;
    border: lightblue;
    border-width: 10px;
    border-style:solid;
    background-color: rgb(53, 114, 134);
}

#main_re{
    grid-area: main_re;
}


#foot_re{   
    grid-area: foot_re;
    text-align: center;
    border: lightblue;
    border-width: 10px;
    border-style:solid;
    background-color: rgb(84, 117, 124);
}

#historial{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:20px;
    margin-bottom: 20px;
}

#titulos{
    text-align: center;
    color:black;
    font-family: Arial;    
    font-weight: bold;
}

#subTitulo{
    text-align: center;
    color:black;
    font-family: Helvetica;    
    font-weight: 400;
}

#mainDiv{
    width: 100%;
    height: 50%;
    float:left;
    
    background-color: lightskyblue;
}

#boton {
    width:10%;
    float:left;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#boton2 {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    display: inline-block;
    color: black;
}
#botonText{
    color:white;
}

#subDiv{
    border-color: lightslategray;
    border-width: 10px;
    border-style:solid;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    float:left;
    margin-top: 100px;
    margin-left: 23%;
    background-color: lightcyan;
    display: grid;
    grid-template-areas:
    "head_re ."
    "nav_re main_re"
    "nav_re foot_re";
      
}

#formDiv {
    border-color: lightslategray;
    border-width: 10px;
    border-style:solid;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    float:left;
    margin-top: 100px;
    margin-left: 23%;
    background-color: lightcyan;
    display: grid;
    grid-template-areas:
    "head_re head_re"
    "main_re main_re"
    "main_re main_re"
}

#main_form {
    margin-left:auto;
    margin-right: auto;
    width:8em;
}

.container {
    padding: 16px;
  }

  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }