body {
    background-repeat: no-repeat;
    background-position: 200px 60px;
    background-size: 900px;
    background-color: Beige;
}

#mainDiv{
    width: 100%;
    height: 50%;
    float:left;
    background-color: rgb(216, 216, 131);
}

#titulos{
    text-align: center;
    color:black;
    font-family: Arial;    
    font-weight: bold;
}